body {
  margin: 0;
  background: #0f0f0f;
  color: #eaeaea;
  font-family: system-ui, sans-serif;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 40px 20px;
}

.center {
  text-align: center;
}

h1 {
  font-size: 2.2rem;
}

.subtitle {
  color: #999;
  margin-bottom: 30px;
}

.questions {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.question {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

input {
  transform: scale(1.2);
}

.submit {
  margin-top: 40px;
  padding: 14px;
  font-size: 1rem;
  background: #fff;
  color: #000;
  border: none;
  cursor: pointer;
}

.score {
  font-size: 5rem;
  font-weight: bold;
  margin: 20px 0;
}

.result-text {
  font-size: 1.1rem;
  max-width: 600px;
  margin: auto;
}

.disclaimer {
  margin-top: 30px;
  font-size: 0.9rem;
  color: #888;
}
.share {
  margin-top: 25px;
  padding: 12px 18px;
  font-size: 1rem;
  border: 1px solid #444;
  background: transparent;
  color: #fff;
  cursor: pointer;
}

.share:hover {
  background: #fff;
  color: #000;
}
